:root {
    --main-color: white;
    --add-color: #9869CA;
    --main-gray-color: #EFEEFE;
    --bg-grey-color: #f6f6f6;
    /*--panel-hover-grey-color: rgba(0,0,0, .2);*/
    /*--panel-footer-grey-color: #aaa;*/
    --max-width: 1024px;
}
